<%- include("partials/header") -%>
<body>
  <header>
    <h1>CURRENT BALANCE</h1>
    <div class="my-balance card">
      <div class="card-body">
        $<%= balanceAmount.balance.toFixed(2) %>
      </div>
    </div>
  </header>

  <button type="button" class="btn btn-lg btn-outline-primary add-remove-btn" data-toggle="modal" data-target="#addItemModal">Add Item</button>
  <button type="button" class="btn btn-lg btn-outline-primary settings-btn" data-toggle="modal" data-target="#settingsModal">Settings</button>
  <br><br>

  <form class="" action="/reload" method="post">
    <select class="itemDateDrop" name="dateFilter" onChange="this.form.submit()">
      <option class="dateFilterOption" name="dateFilter" value="3" selected="selected">3 Days</option>
      <option class="dateFilterOption" name="dateFilter" value="7">7 Days</option>
      <option class="dateFilterOption" name="dateFilter" value="14">14 Days</option>
      <option class="dateFilterOption" name="dateFilter" value="30">30 Days</option>
    </select>
    <br><br>
  </form>

  <section class="history">
    <% allDates.forEach(function(itemDate){ %>
      <h2><%= itemDate.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC' }) %></h2>
      <br>
      <table class="table table-striped">
        <thead class="table-head">
          <tr>
            <th>Item</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% itemDate.items.forEach(function(item){ %>
            <tr>
              <td><%= item.name %></td>
              <td>$<%= item.amount.toFixed(2) %></td>
              <td>
                <input type="image" src="https://image.flaticon.com/icons/svg/1159/1159633.svg" class="edit" data-toggle="modal" data-target="#editItemModal">
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <br>
    <% }); %>
  </section>

  <!-- Add Item Modal -->
  <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="" action="/" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ADD ITEM</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="item-name">
              <label for="itemName"><strong>Item Name</strong></label>
              <input type="text" name="itemName" value="" class="itemName">
            </div>
            <div id="item-amount">
              <label for="itemAmount"><strong>Amount</strong></label>
              <input type="text" name="itemAmount" value="" class="itemAmount">
            </div>
            <div id="item-date">
              <label for="itemDate"><strong>Date</strong></label>
              <input type="date" name="itemDate" value="2020-03-13" class="itemDate">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="addItem" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Item Modal -->
  <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="" action="/" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ADD ITEM</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="item-name">
              <label for="itemName"><strong>Item Name</strong></label>
              <input type="text" name="itemName" value="" class="itemName">
            </div>
            <div id="item-amount">
              <label for="itemAmount"><strong>Amount</strong></label>
              <input type="text" name="itemAmount" value="" class="itemAmount">
            </div>
            <div id="item-date">
              <label for="itemDate"><strong>Date</strong></label>
              <input type="date" name="itemDate" value="2020-03-13" class="itemDate">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="addItem" class="btn btn-primary">Delete Item</button>
            <button type="submit" id="addItem" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Settings Modal -->
  <!-- <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="" action="/" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">AUTO ADD ITEM</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="auto-item-name">
              <label for="itemNameR"><strong>Item Name</strong></label>
              <input type="text" name="itemNameR" value="" class="autoItemName">
            </div>
            <div id="auto-item-amount">
              <label for="itemAmountR"><strong>Amount</strong></label>
              <input type="text" name="itemAmountR" value="" class="autoItemAmount">
            </div>
            <div id="auto-item-date">
              <label for="itemDateR"><strong>Date</strong></label>
              <input type="date" name="itemDateR" value="" class="autoItemDate">
            </div>
            <div id="auto-frequency">
              <label for="itemFrequency"><strong>Frequency</strong></label>
              <select class="autoItemFrequency" name="itemFrequency">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->

<%- include("partials/footer") -%>
